<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Intelligent Building Energy Monitoring System</title>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-toggle.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/nav_top.css">
  </head>
  <body>
    <div class="container white-bg">
    <h1 class="sw-title"> Intelligent Building Energy Monitoring System</h1>
    {% include 'nav_top.html' %}
    <div class="container">
      <h2>Notifications</h2>
    </div>
    <script src="../static/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
